.MatchPage{

    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 20px;

    .year-selector{
        Justify-self: end;
        padding: 20px;
    }

    .page-heading{
        margin-bottom: 20px;
    }
}