.TeamTile{
    // background-color: rgb(221, 223, 152);
    height: 170px;
    text-align: center;
    border: 1px solid rgb(214, 169, 22);
    box-shadow: 10px 10px rgb(231, 148, 22);;
    padding: 30px;
}